#addForm{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    color: black;
}
#addButton{
    margin-top:10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    color: black;
    border: none;
}

#addButton:disabled{
    background: grey;
}


.input_class{
    color: black;
    border:none;
    background: none;
    outline: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: row;
    min-width: 200px;
}

.item_wrapper{
    display: flex;
    flex-flow: row;
}

.item_wrapper + .item_wrapper{
    margin-bottom: 10px;
}

.item_identifier{
    margin-right: 10px;
    font-size: 16px;
}
.error_class{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    color: red;
}