#app_title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #C84630;
}

#nav_wrapper{
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}

#nav_wrapper a{
    text-decoration: none;
    color: #D4A0A7;
}

#nav_wrapper a:first-child{
    margin-right: 10px;
}