#edit_form{
    margin-bottom: 10px;
}

#entry_details{
    margin-bottom: 10px;
    text-decoration: none;
    color: #D4A0A7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    border-color: #898989;
    border-style: inset;
    border-width: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.form_item{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    border-color: #898989;
    border-style: inset;
    border-width: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.item_wrapper{
    display: flex;
    flex-flow: row;
}

.item_wrapper + .item_wrapper{
   margin-top: 10px;
}


.item_identifier{
    margin-right: 10px;
}

.input_class{
    border:none;
    background: none;
    outline: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.error_class{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    color: #D4A0A7;
}

.button_class{
    border-color: #898989;
    border-style: inset;
    border-width: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.button_class + .button_class{
    margin-left: 20px;
}


#button_container{
    border-color: #898989;
    border-style: inset;
    border-width: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}